# All About Data Types in Python

In [1]:
# numeric data
x=10 # int
y=10.5 # float
z=10+5j # complex

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [6]:
isinstance(z,complex) # isinstance is as like as type

True

In [7]:
isinstance(10,float)

False

In [8]:
isinstance(10,int)

True

In [10]:
# int to float
n=float(x) # n=float

In [11]:
n

10.0

In [13]:
n=int(n)
type(n)

int

In [14]:
n

10

In [15]:
# int to complez
n=complex(n) # 10+0j

In [16]:
n

(10+0j)

In [17]:
type(n)

complex

In [18]:
# We can not complex to other
n=int(n)

TypeError: can't convert complex to int

In [19]:
n=float(n)

TypeError: can't convert complex to float

In [20]:
# How to input complex from user
n=complex(input('Input your complex number:'))

Input your complex number:1

In [23]:
n

(1+0j)

In [24]:

n=complex(input('Input your complex number:'))

Input your complex number:1+5j

In [25]:
n

(1+5j)

In [26]:
type(n)

complex

# Bool Type Data

In [27]:
x=True
y=False

In [28]:
x

True

In [29]:
y

False

In [30]:
true # We can not use lower case

NameError: name 'true' is not defined

In [31]:
True

True

# Sequence Data

In [33]:
# List
l=[1,2,3,4,True,[1,2],'data',(1,2,3,8)]

In [34]:
l

[1, 2, 3, 4, True, [1, 2], 'data', (1, 2, 3, 8)]

In [35]:
type(l)

list

In [37]:
l[-1]

(1, 2, 3, 8)

In [39]:
# Now -1 Index er vithore kno value k access korar jonno
l[-1][-1]

8

In [40]:
isinstance(l,list)

True

In [41]:
# Tuples eke represent kora hy () braket diye
t=(1,5,8,'Ai')

In [42]:
t

(1, 5, 8, 'Ai')

In [43]:
type(t)

tuple

In [44]:
t[0]

1

In [46]:
t[0:3] # 0 to sonething

(1, 5, 8)

In [47]:
# Range
x=range(10) # onek gula possible kog hote pare

In [48]:
x

range(0, 10)

In [49]:
for i in x: # first case
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
x=range(5,20) # 2nd case
for i in x:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [51]:
x=range(5,20,3) # 3rd case, 3 kore gap nibe
for i in x:
    print(i)

5
8
11
14
17

In [52]:
x=range(20,5,-3) # 4th case, reverge
for i in x:
    print(i)

20
17
14
11
8

In [54]:
# Array, eta list er moto sob nibe na, only same type er value nibe
import array as ar # as diye library ke rename kora hyse

In [55]:
a=ar.array([1,2,3,4])

TypeError: array() argument 1 must be a unicode character, not list

In [58]:
a=ar.array('i',[1,2,3,4]) # type code int er jonno i

In [59]:
a

array('i', [1, 2, 3, 4])

In [60]:
type(a)

array.array

In [61]:
a=ar.array('i',[1.5,2,3,4]) # 1 ta float nile ki hy vithore

TypeError: integer argument expected, got float

In [62]:
a=ar.array('f',[1.5,2,3,4])

In [63]:
a

array('f', [1.5, 2.0, 3.0, 4.0])

In [64]:
# string
x='data'
type(x)

str

In [65]:
# string
x="data"
type(x)

str

In [66]:
x='''
I love 
data science
'''

In [67]:
x

'\nI love \ndata science\n'

In [68]:
type(x)

str

In [69]:
# Set
s={1,2,3,5}

In [70]:
type(s)

set

In [9]:
# Dictionary
dic={
    'Varsity':'LUT',
    'Dep':'Data Science'
}

In [10]:
type(dic)

dict

In [11]:
dic.keys()

dict_keys(['Varsity', 'Dep'])

In [12]:
dic.values()

dict_values(['LUT', 'Data Science'])

In [13]:
# Data Frame (Pandas)
import pandas as pd

In [14]:
#Binary Type
byte_arr=bytearray('ABCDEF','utf-8')

In [15]:
type(byte_arr)

bytearray

In [16]:
byte_arr

bytearray(b'ABCDEF')

In [17]:
memoryview(byte_arr)

In [18]:
memoryview(byte_arr)[0]

65