# List Methods

In [1]:
#list
list1=['ai','ds','cs',150,20,True,[3,4],(1,2)]

In [2]:
list1

['ai', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [3]:
list1[0]

'ai'

In [4]:
list1[-1]

(1, 2)

In [5]:
list1[-1][0]

1

In [6]:
list1[-1][-2]

1

# Copy()

In [7]:
list2=list1

In [8]:
list2

['ai', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [9]:
list1

['ai', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [10]:
list3=list1.copy()

In [11]:
list3

['ai', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [12]:
list1[0]='1000'

In [13]:
list1

['1000', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [14]:
list2

['1000', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [15]:
list3

['ai', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [16]:
list3[0]='data science'

In [17]:
list3

['data science', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

In [18]:
list1

['1000', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2)]

# Append

In [19]:
list1.append(28)

In [20]:
list1

['1000', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2), 28]

In [21]:
l1=[10,100.30]

In [22]:
l1

[10, 100.3]

In [23]:
list1.append(l1)

In [24]:
list1

['1000', 'ds', 'cs', 150, 20, True, [3, 4], (1, 2), 28, [10, 100.3]]

In [25]:
list1.append({1,2,3,4})

In [26]:
list1

['1000',
 'ds',
 'cs',
 150,
 20,
 True,
 [3, 4],
 (1, 2),
 28,
 [10, 100.3],
 {1, 2, 3, 4}]

In [27]:
list1[-1]

{1, 2, 3, 4}

In [28]:
list1.extend(l1)

In [29]:
list1

['1000',
 'ds',
 'cs',
 150,
 20,
 True,
 [3, 4],
 (1, 2),
 28,
 [10, 100.3],
 {1, 2, 3, 4},
 10,
 100.3]

In [30]:
list1[-1]

100.3

In [31]:
list1[-2]

10

# Insert

In [32]:
list1.insert(0,'LUT')

In [33]:
list1

['LUT',
 '1000',
 'ds',
 'cs',
 150,
 20,
 True,
 [3, 4],
 (1, 2),
 28,
 [10, 100.3],
 {1, 2, 3, 4},
 10,
 100.3]

# Index()

In [34]:
list1.index(150)

4

In [35]:
list1.index({1, 2, 3, 4})

11

# Count

In [36]:
list1.count({1, 2, 3, 4})

1

In [37]:
list1.count(150)

1

# Sort()

In [38]:
ls2=[10,2,6,7,9,100]

In [39]:
ls2.sort()

In [40]:
ls2

[2, 6, 7, 9, 10, 100]

# Reverse()

In [41]:
ls2.reverse()

In [42]:
ls2

[100, 10, 9, 7, 6, 2]

# Remove

In [43]:
ls2.remove(100)

In [44]:
ls2

[10, 9, 7, 6, 2]

# Pop()

In [45]:
ls2.pop(-1) # Index wise kag kore.

2

In [46]:
ls2

[10, 9, 7, 6]

In [47]:
del ls2[0]

In [48]:
ls2

[9, 7, 6]

In [49]:
ls2.clear() # clear kore dibe

In [50]:
ls2

[]

In [51]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [52]:
thislist=["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

# While loop in list

In [53]:
thislist=["apple","banana","cherry"]
i=0
while i < len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [54]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# List Comprehension

In [55]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

# Sort list

In [56]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [57]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]


# Decending sort

In [58]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Copy()

In [59]:
thislist = ["apple", "banana", "cherry"]

In [60]:
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# Another way to make a copy is to use the built-in method list()

In [61]:
thislist=["apple","banana","cherry"]
mylist=list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join two list

In [62]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [63]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [64]:
list1=["a","b","c"]
list2=[1,2,3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples

# Tuples are used to store multiple items in a single variable.
Tuples are written with round brackets.

In [65]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# To determine how many items a tuple has, use the len() function:

In [66]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# You can access tuple items by referring to the index number, inside square brackets:

In [67]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [68]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

# Change Tuple Values

# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [69]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add tuple to a tuple.

In [70]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items

In [71]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

# The del keyword can delete the tuple completely:

In [72]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
import numpy as bipul
import random as rd

In [ ]:
x = rd.randint(0,30)
a = 31

# while a != x:
    
    a = eval(input("Enter a number between 0 and 30\t"))
    
    if a<x:
        
        print("Your number is less\t")
        
    if a>x:
        print("Your number is greater\t")

# Unpacking a tuple:

In [ ]:
fruit=("apple","banana","cherry")
(green,yellow,red)=fruit
print(green)
print(yellow)
print(red)

# Loop Through a Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

# Multiply Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

# Access Set Items

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

# Check if "banana" is present in the set:

In [ ]:
thisset={"apple","banana","cherry"}
print("banana" in thisset)

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

In [ ]:
thisset={"apple","banana","cherry"}
tropical={"pinaple","mango","papiya"}
thisset.update(tropical)
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

# Remove "banana" by using the discard() method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

# Remove a random item by using the pop() method:

In [ ]:
thisset={"apple","banana","cherry"}
x=thisset.pop()
print(x)
print(thisset)

# Loop through the set, and print the values:

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

# The union() method returns a new set with all items from both sets:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

# Dictionary

In [ ]:
thisdict={"brand":"Foard",
          "Model":"Bipul",
          "Year":1964
         }
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

# The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

# To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

# The pop() method removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

# The del keyword removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

# LOOP

# Print all key names in the dictionary, one by one:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

In [ ]:
for x in thisdict:
  print(thisdict[x])

In [ ]:
for x in thisdict.values():
  print(x)

In [ ]:
for x, y in thisdict.items():
  print(x, y)

# Make a copy of a dictionary with the copy() method:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
Myfamily={
    "child1":{
        "Name": "Bipul",
        "year": 1994
    },
    "child2":{
        
        "Name":"Anny",
        "year":1994
    },
    "child3":{
        "Name":"Aurora",
        "year":2027
    }
    
}
print(Myfamily)

# Python Else If

In [ ]:
a=33
b=33
if b>a:
    print("b is grater than a")
elif a==b:
    print("a and b are equal")

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

# While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i=0
while i < 6:
    i+=1
    if i==3:
     continue
     print(i)

In [75]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [76]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For LOOP

In [74]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [73]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [78]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [83]:
fruits=["apple","banana","cherry"]
for x in fruits:
    if x=="banana":
        break
    print(x)

apple

In [84]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [85]:
adj=["red","big","testy"]
fruits=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
testy apple
testy banana
testy cherry

# Function

In [2]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [1]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [5]:
def my_function(fname, lname):
    print(fname + " " + lname)
my_function("Emil", "Refsnes")

Emil Refsnes

In [8]:
def my_function(*kids):
    print("the youngest child is " + kids[2])
my_function("Bipul","Biplob","Bappy")

the youngest child is Bappy

In [11]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

# Python Classes and Objects

In [1]:
class Myclass:
    x=5

In [2]:
p1=Myclass() #p1 is object
print(p1.x)

5

# The __init__() Function

In [12]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

# The string representation of an object WITH the __str__() function:

In [19]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [26]:
class Person:
 def _init_(self, name, age):
    self.name = name
    self.age = age
 def _str_(self):
    return f"{self.name}({self.age})"

p1 = Person("Bipul",28)

print(p1)

TypeError: Person() takes no arguments

# Function

In [22]:
a=10
b=8
c=sum((a,b))
def function1(a,b):
    print("Hello you are in function1",a+b)
def function2(a,b):
    average=(a+b)/2
    #print(average)
    return average
v=function2(5,6)
print(v)

5.5