In [2]:
def squire(n):
    '''Take a number n and return the squire of n'''
    print(n**2)
squire(5)
print(squire.__doc__)

25
Take a number n and return the squire of n

In [26]:
def factorial(n):
    if(n==0 or n==1):
     return 1
    else:
     return n * factorial(n-1)

print(factorial(3))
print(factorial(4))
print(factorial(5))

6
24
120

# For loop with else statement

In [27]:
for i in range(6):
    print(i)
    if i==4:
        break
    
else:
    print("Sorry no I")

0
1
2
3
4

In [28]:
i=0
while i<7:
    print(i)
    i=i+1
    if i==4:
        break
    
else:
    print("Sorry no I")

0
1
2
3

# Exception Handling

In [1]:
a=input("Enter the number")
print(f"Multiplication table of {a} is :")
try:
for i in range(1,11):
    print(f"{int(a)} X {i}={int(a)*i}")
except:
    print("invalid input")
    
print("Some import line of code")

IndentationError: expected an indented block (193317928.py, line 4)

# Finally keywords in python

In [5]:
try:
    l=[1,5,6,7]
    i=int(input("Enter an Index"))
    print(l[i])
except:
    print("Some error occured")
finally:
    print("I am always executed")

Enter an Index5
Some error occured
I am always executed

# Raising custom errors

In [5]:
a=int(input("Enter any value between 5 and 9"))
if(a<5 or a>9):
    raise valueError("value should be between 5 and 9")

Enter any value between 5 and 9harry

ValueError: invalid literal for int() with base 10: 'harry'

# Short hand if else statements

In [1]:
a=303
b=3303
print("A") if a>b else print("=") if a==b else print("B")

B

# Enumerate Function

In [5]:
marks=[12,56,32,98,12,45,1,4]
index=0
for mark in marks:
    print(mark)
    if index==3:
        print("Harry, Awesome!")
    index+=1

12
56
32
98
Harry, Awesome!
12
45
1
4

In [7]:
marks=[12,56,32,98,12,45,1,4]

for index,mark in enumerate(marks):
    print(mark)
    if index==3:
        print("Harry, Awesome!")

12
56
32
98
Harry, Awesome!
12
45
1
4

# Lamda function

In [10]:
double=lambda x:x*2
    
print(double(5))

10

In [14]:
avg=lambda x,y,z:(x+y+z)/3
print(avg(2,3,4))

3.0

# Map, Filter and Reduce

In [8]:
def cube(x):
    return x*x*x
print(cube(2))

l=[1,2,4,6,3,4]
newl=list(map(cube,l))
print(newl)

#FILTER

def filter_function(a):
    return a>2
newnewl=list(filter(filter_function,l))
print(newnewl)

8
[1, 8, 64, 216, 27, 64]
[4, 6, 3, 4]

In [10]:
from functools import reduce
numbers=[1,2,3,4,5]
def mysum(x,y):
    return x+y
sum=reduce(mysum, numbers)
print(sum)

15