In [1]:
#Import Pandas
import pandas as pd

In [2]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [4]:
city=['Berlin','Lappeenranta','London']

In [5]:
city

['Berlin', 'Lappeenranta', 'London']

In [6]:
df=pd.DataFrame(city)
df

              0
0        Berlin
1  Lappeenranta
2        London

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
type(city)

list

In [9]:
row,col=df.shape

In [10]:
row

3

In [11]:
col

1

In [12]:
df.shape

(3, 1)

In [13]:
df=pd.DataFrame(city,columns=['City in Europe'])
df

  City in Europe
0         Berlin
1   Lappeenranta
2         London

In [14]:
df=pd.DataFrame(city,columns=['City in Europe'],index=['c1','c2','c3'])
df

   City in Europe
c1         Berlin
c2   Lappeenranta
c3         London