In [1]:
name=input("what is your name")
print("hello " + name)

what is your nameBipul Biswas
hello Bipul Biswas

In [4]:
name=input('What is your name?')
Favo_colar=input('What is your favourite color?')
print(name + ' likes ' + Favo_colar)

What is your name?Bipul
What is your favourite color?Blue
Bipul likes Blue

In [8]:
price=1000000
has_good_credit=True
if has_good_credit:
    down_payment=0.1*price
else:
        down_payment=0.2*price
print(f"Down Payment: #{down_payment}")

Down Payment: #100000.0

In [14]:
Has_good_income=True
Has_good_credit=False
if Has_good_income or Has_good_credit:
    print("Eligable for loan")

Eligable for loan

In [5]:
birth_year=input("Enter your birth year")
age=2023-int(birth_year)
print(age)

Enter your birth year1994
29

In [2]:
first=input("First number is")
second=input("Second number is")
sum=float(first)+int(second)
print(sum)

First number is30
Second number is12
42.0

In [6]:
first=input("First number is")
second=input("Second number is")
sum=float(first)+float(second)
print("Sum: " + str(sum))

First number is20
Second number is11
Sum: 31.0

In [10]:
weight=int(input("weight:"))
unit=input("(K)kg or (L)bs: ")
if unit.upper=="K":
    converted=weight/0.45
    print("weight in LBS:" + str(converted))
else:
    converted=weight*0.45
    print("weight in Kgs:" + str(converted)

SyntaxError: unexpected EOF while parsing (1619613161.py, line 8)


# while loop

In [15]:
i=1
while i<=10:
    print(i* '*')
    i=i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [16]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [20]:
numbers=[1,2,3,4,5]
for item in numbers:
    print(item)

1
2
3
4
5

In [21]:
numbers=range(5)
print(numbers)

range(0, 5)

In [23]:
numbers=range(5)
for number in numbers:
    print(number)

0
1
2
3
4

In [24]:
numbers=range(5,10)
for number in numbers:
    print(number)

5
6
7
8
9

In [25]:
numbers=range(5,10,2)
for number in numbers:
    print(number)

5
7
9

In [5]:
secret_number=9
guess_count=0
guess_limit=3
while guess_count<guess_limit:
    guess=int(input('Guess:'))
    guess_count+=1
    if guess==secret_number:
        print('You win')
        break
else:
    print('Sorry you failed')

Guess:9
You win

In [11]:
prices=[10,20,30]
total=0
for price in prices:
    total+=price
print(f"Total: {total}")

Total: 60

In [14]:
for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

In [15]:
numbers=[5,2,5,2,2]
for x_count in numbers:
    print('x'*x_count)

xxxxx
xx
xxxxx
xx
xx

In [18]:
numbers=[3,6,2,9,10,100,12,70]
max=numbers[0]
for x in numbers:
    if x>max:
        max=x
print(max)

100

# Removing duplicate numbers

In [19]:
numbers=[2,3,2,3,4,6,7,8,9,8]
unique=[]
for number in numbers:
    if number not in unique:
        unique.append(number)
print(unique)

[2, 3, 4, 6, 7, 8, 9]