In [3]:
if 5>2:
    print("Five is grater than two")

Five is grater than two

In [4]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

In [6]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [8]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
x

'3'

In [10]:
y

3

In [11]:
z

3.0

In [12]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [14]:
fruts=["apple","Banana","Cherry"]
x,y,z=fruts
print(x)
print(y)
print(z)

apple
Banana
Cherry

In [15]:
x="Python is awesome"
print(x)

Python is awesome

In [16]:
x="Python"
y="is"
z="awesome"
print(x,y,z)

Python is awesome

In [18]:
x="Python"
y="is"
z="awesome"
print(x+y+z)

Pythonisawesome

In [20]:
x = 5
y = "John"
print(x,y)

5 John

In [24]:
x="awesome"
def myfunctionc():
    print("python is " +x)
myfunctionc()

python is awesome

In [29]:
x="awesome"
def myfunc():
    x="fantastic"
    print("python is"+x)
myfunc()
print("python is"+x)

python isfantastic
python isawesome

In [28]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [30]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [31]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [33]:
import random

print(random.randrange(1, 10))

7

In [34]:
import random

print(random.randrange(1, 10))

4

# String

In [7]:
a="Hello world"
print(a[1])

e

In [8]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [9]:
a= "hello, world!"
print(len(a))

13

In [12]:
text="The best thing in my life is Anny"
print("Bipul" not in text)

True

In [14]:
b="hello, world!"
print(b[2:5])

llo

In [15]:
b="hello, world!"
print(b[:5])

hello

In [16]:
b="hello, world!"
print(b[2:])

llo, world!

In [18]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [19]:
a="Hello World"
print(a.upper())

HELLO WORLD

# Remove whitespace

In [21]:
a=" My name is bipul "
print(a.strip())

My name is bipul

In [23]:
a = "Hello, World!"
print(a.replace("H", "B"))

Bello, World!

In [26]:
a="Bipul, Biswas"
print(a.split(","))

['Bipul', ' Biswas']

# String Concatenation

In [27]:
a="Bipul"
b="Biswas"
c=a+b;
print(c)

BipulBiswas

In [29]:
a="Bipul"
b="Biswas"
c=a+" "+b;
print(c)

Bipul Biswas

In [30]:
age=36
text="My name is Bipul, I am" +age
print(text)

TypeError: can only concatenate str (not "int") to str

In [33]:
age=36
text="my name is bipul, I am {}"
print(text.format(age))

my name is bipul, I am 36

In [36]:
quan=3
item=5
price=660
myoder="I want {} piches of item {} for {} dollars."
print(myoder.format(quan,item,price))

I want 3 piches of item 5 for 660 dollars.

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Insert item

In [2]:
thislist=["apple","banana","cherry"]
thislist.insert(2,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Using the append() method to append an item:

In [3]:
thislist=["apple","banana","cherry"]
thislist.append("kola")
print(thislist)

['apple', 'banana', 'cherry', 'kola']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [1]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry